.mitarbeiter-container {
    padding: 20px;
}

.search-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.search-container input {
    /* width: 30%; */
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.add-staff {
    width: 20%;
    padding: 10px 20px;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.add-staff:hover {
    background-color: #555;
}

.staff-grid {
    display: grid;
    grid-template-columns: repeat(3, calc((100% - 100px) / 3));
    gap: 20px;
    justify-content: center;
    align-items: start;
}


.staff-card {
    display: flex;
    align-items: center;
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    min-width: 300px;
}

.avatar {
    background: transparent;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-right: 20px;
}

.staff-info {
    flex: 1;
}

.staff-info h2 {
    margin: 0 0 10px 0;
}

.groups {
    display: flex;
    flex-wrap: wrap;
}

.groups span {
    display: inline-block;
    background: #eee;
    padding: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
    border-radius: 4px;
}

/* MODAL DIALOGUE */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

.close-button {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close-button:hover,
.close-button:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}


